<div class="row">
  <div class="col-md-8">

  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let image of images" class="slide">
      <img src="{{ image.img }}" width="100%" class="img img-thumbnail" >
    </div>
  </ngx-slick-carousel>

  </div>
  <div class="col-md-4">
    <img src="https://avatars1.githubusercontent.com/u/48095301?s=460&u=7c1babc4403dfe0680dbaf83db01dc1d220d1072&v=4" alt=""  class="img img-thumbnail" >
    <hr>
    <h3>  Angular Application Demo Example </h3>
    <p> Devolp By
      <a href="https://github.com/nayneshrathod"><b>Naynesh Rathod</b> </a>
    </p>
    <p>&copy; 2020-21 all right saved reserved By
      <a href="https://github.com/nayneshrathod"><b> Rathod INc</b> </a>
    </p>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
      $('#lazy').slick({
          dots: false,
        centerMode: true,
          autoplay:true,
          autoplayspeed: 200
      });
    });
  </script>


